{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
   "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules" : {
    "strict": 2
  }
}
